body {
	margin: 0;
	padding: 0;
}

img#lut-img {
	cursor: zoom-in;
	position: fixed;
	width: 100px;
	height: 100px;
	top: 0;
	bottom: 0;
	opacity: 0.5;
}

img#lut-img:hover {
	width: 245px;
	height: 245px;
	opacity: 1.0;
}